<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <handlers>
            <add name="winmailfastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php55\php-cgi.exe" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
